body{
    background:rgb(190,201,219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 5, 21);
}

header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}

img{
    justify-content: center;
    margin: auto;
}

.end{
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul{
    justify-content: flex-start;
}

ol{
    justify-content: flex-start;
}
p{
    justify-content: center;
}

h2{
    justify-content: center;
    text-align: center;
}

button{
     background: lightsteelblue;
     width: 120px;
     height: 50px;
     border: solid rgb(58, 5, 21) 7px;
     font-size: 90%;
 }

section{
    justify-content: center;
    align-items: center;
    width: 1000px;
}

#results{
    visibility: hidden;
    border: solid rgb(58, 5, 21) 5px;
    text-align: center;
    padding: 50px;
    margin: 50px;
    width: 50%;
    background: rgb(236, 175, 241);
}
 .content{
    background: lightcyan;
    margin: 35px;
    width: 85%;
    padding: 5%;
    border: groove  rgb(58, 5, 21) 6px;
 }

 .introduction{
     background: lightsteelblue;
     margin: 10px;
     width: 90%;
     padding: 5%;
     border: solid rgb(58, 5, 21) 3px;